.custom-nav {
	border-radius: 0 !important;
	border-top: 0;
	margin-bottom: 15px;
	padding-top: 5px;
}

<<<<<<< HEAD
#my_nav.navbar-default {
	font-size: 23px;
	background-image: none !important;
	background-color: rgba(0, 0, 0, 0);
	border-bottom-width: 1px;
	min-height: 65px !important;
}

#my_nav.navbar-default .navbar-nav>li>a {
	color: rgba(119, 119, 119, 1);
	background-color: rgba(0, 0, 0, 0);
	line-height: 35px;
}

#my_nav.navbar-default .navbar-nav>li>a:hover,
	#my_nav.navbar-default .navbar-nav>li>a:focus {
	color: rgba(51, 51, 51, 1);
	background-color: rgba(248, 248, 248, 0);
}

#my_nav.navbar-default .navbar-nav>.active>a,
	#my_nav.navbar-default .navbar-nav>.active>a:hover,
	#my_nav.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(85, 85, 85, 1);
}

#my_nav.navbar-default .navbar-toggle {
	border-color: black;
}

#my_nav.navbar-default .navbar-toggle:hover,
	#my_nav.navbar-default .navbar-toggle:focus {
	background-color: #f8f8f8;
=======
.custom-nav .nav {
	
	padding-top: 5px;
>>>>>>> 01e1b46936ae6b163921fc220313a3dfe3112d91
}

.navbar-brand {
	padding: 0;
	padding-top: 2px !important;
	padding-left: 5px !important;
}

<<<<<<< HEAD
#my_nav.navbar-default .navbar-toggle:hover .icon-bar,
	#my_nav.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: red;

}
=======
.navbar-brand img{
	display: inline-block;
	width: 150px;
}
>>>>>>> 01e1b46936ae6b163921fc220313a3dfe3112d91
