<div class="card card-inverse">
	<div class="card-header card-success text-xs-center">Admin Controls</div>
	<div class="card-block">
		<a class="btn btn-primary btn-block" href='/admin'>View All Students</a>
		<a class="btn btn-primary btn-block" href='/admin/techniques'>View All Techniques</a>
		<a class="btn btn-primary btn-block" href='/admin/barcode'>Record Attendance</a>
	</div>
</div>