<div class="card ">
	<div class="card-header card-info text-xs-center">Admin Controls</div>
	<div class="card-block">
		<a class="btn btn-primary btn-block" href='/admin'>View All Students</a>
		<a class="btn btn-primary btn-block" href='/admin/barcode'>Scan Barcode</a>
	</div>
</div>