<div class="row">

	<hr>
	<div class="fixed-width-1280 text-xs-center">
		&copy; Alen Kalac | PHP School Project <br>
		<a href="">Bootstrap 4</a>, <a href="">Twig</a>, <a href="">Silex</a> <br>
		<i class="fa fa-facebook-official" aria-hidden="true"></i> <a href="">Find us on Facebook</a> | <i class="fa fa-twitter" aria-hidden="true"></i> <a href="">Follow us on Twitter</a>
	</div>
	
</div>