{% macro link(link, text, page) %}
	{% if(text|lower == page|lower) %}
		<li class='nav-item active'>
	{% else %}
		<li class='nav-item'>
	{% endif %}
	
	<a class="nav-link" href='{{ link }}'>{{ text }}</a></li>
{% endmacro %}