{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
     <div class="row">
          <div class="col-xs-12">
               <div class="alert alert-danger text-xs-center">
                    Page you are trying to access is not available, try again.
               </div>
          </div>
     </div>
{% endblock %}
