{% extends 'base.html.twig' %}

{% block title %}
	Admin Page
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		{% include 'modules/admin-controls.html.twig' %}
	</div>
	
	<div class="col-md-9">
		<div class="card card-inverse">
			<div class="card-header card-primary">List of all students</div>
			<div class="card-block">
				 <table class="table table-hover table-condensed table-striped">
		  			<tr>
		  				<th>Barcode</th>
		  				<th>Student Name</th>
		  				<th>Student Surname</th>
		  			</tr>
		  			
		  			{% for student in  students %}
						<tr>
							<td><a href='/student/{{ student.barcode|e }}'>{{ student.barcode|e }}</a></td>
							<td>{{ student.name|e }}</td>
							<td>{{ student.surname|e }}</td>
		  			 </tr>
					{% endfor %}
		  		
		  		</table>
			</div>
		</div>
	</div>
</div>


{% endblock %}