{% extends "base.html.twig" %}

{# Title of the page #}
{% block title %} 
	{{ title }}
{% endblock %}

{# Body content #}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
		  		<h1>Welcome</h1>
		  		<p>
		  			Welcome to ITB Karate school, karate is a martial art of Japanese origin that 
		  			deals with attacks through evasive body movements and/or blocking, and counter 
		  			attacks using kicks, punches and strikes. Joint locks, restraints and takedowns 
		  			are also used, but to a lesser extent. People variously practice it as a form of self 
		  			defence, a way of keeping healthy and a sport.
				</p>
				<p>
					As a self defence system, karate does not so much 
					teach a set of standard responses to a set of limited 
					scenarios, but rather teaches a set of principles that can be applied in any situation. 
		  		</p>
		  		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
		</div>
	</div>
	
{% endblock %}