{% extends "base.html.twig" %} 

{# Title of the page #} {% block title %} {{ title }} {% endblock %} 

{# Body content #} 

{% block content %}
	<div class="row">
		<div class="fixed-width-1280">{% include 'modules/carosel.html.twig' %}
		</div>
	</div>
	<div class="row pricing">
		<div class="fixed-width-1280">
			<div class="col-md-4">
				<div class="card card-inverse">
					<div class="card-header card-primary">Junior Group</div>
					<div class="card-block">
						<ul>
							<li>Kids upto age of 8</li>
							<li>Two Days per week</li>
						</ul>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<a href="" class="btn btn-primary btn-block">Apply</a>
							</div>
							
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-inverse">
					<div class="card-header card-info">Senior Group</div>
					<div class="card-block">
						<ul>
							<li>Young adults between ages 9 - 18</li>
							<li>Two Days per week</li>
						</ul>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<a href="" class="btn btn-primary btn-block">Apply</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-inverse">
					<div class="card-header card-success">Adults Group</div>
					<div class="card-block">
						<ul>
							<li>Adults aged 18+</li>
							<li>Three Days per week</li>
						</ul>
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<a href="" class="btn btn-primary btn-block">Apply</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
