{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}

	<div class="row"> 
		<div class="col-md-2 text-xs-center">
		
			<div class="card card-inverse">
				<div class="card-header card-success">
					Student Details
				</div>
				
				<div class="card-block">
					<img class="img-thumbnail" src="/images/profilepic.png"><br>
					Name: {{ student.name }} {{ student.surname }} <br>
					Barcode: {{ student.barcode }}
				</div>
			</div>
			
		</div>
		
		<div class="col-md-7" >
			<div class="card card-inverse">
				<div class="card-header card-success">
					Class Details
				</div>
				
				<div class="card-block">
					
				</div>
			</div>
		</div>
		
		<div class="col-md-3" >
			<div class="card card-inverse">
				<div class="card-header card-success">
					Grades
				</div>
				
				<div class="card-block">
					
				</div>
			</div>
		</div>
	</div>

{% endblock %}